

<div class="justify-content-center d-flex">
    <a href="#Top" class="icon"><i class="fa fa-angle-double-up"></i></a>
</div>

<footer class="container-fluid p-3">
    <div class="row justify-content-center d-flex credits pb-2">
        Created by Emin Mulaimović
    </div>
    <div class="col-md-4 offset-md-4 col-sm-12 justify-content-evenly d-flex pb-2">
        <a href="https://www.facebook.com/emin.mulaimovic" class="icon" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/emin.mulaimovic" class="icon" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/emin-mulaimovi%C4%87-38321925a/" class="icon" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/login/admin">Login as Admin</a>
    </div>
</footer>