<header class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-md-start justify-content-center">
            <a href="/"><img src="/Slike/logo.svg" width="100px" height="auto" alt="logo"></a>
            <h1 class="display-6" id="top">Brainstorm</h1>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-md-end justify-content-center">
            <span class="p-3"><a href="/login">Login</a></span>
            <span class="p-3"><a href="/register"><strong>Sign up</strong></a></span>
        </div>
    </div>
</header>
