<header class="container-fluid p-0">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-start">
            <a href="/"><img src="/Slike/logo.svg" width="100px" height="auto" alt="logo"></a>
            <h1 class="display-6" id="top">Brainstorm</h1>
        </div>
    </div>
</header>
