<h1 class="display-1 text-center mt-5 mb-5">Transform static events into dynamic experiences</h1>
<div class="container">
    <div class="row">
        <form method="POST" class="input-group mb-3 justify-content-center d-flex">
            <span class="input-group-text" id="basic-addon1">#</span>
            <input type="text" class="form-control-lg" placeholder="code" aria-label="code" name="code" id="code" aria-describedby="basic-addon1">
            <button type="submit" class="input-group-text" id="basic-addon2">Join</button>
        </form>
    </div>
    <div class="row mt-5 nb-5">
        <h2 class="text-center">ALL FEATURES</h2>
        <iframe width="1920" height="700" src="https://www.youtube.com/embed/Q9FMUYn-wo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>