<div class="container mb-5 mt-5">
    <div class="row login-shadow">
        <div class="col-md-6 order-last order-last col-sm-12 d-flex justify-content-center align-items-center p-3">
            <form method="POST">
                <%if(messages.error){%>
                <p class="greska" style="display:block"><%=messages.error%></p>
                <%}%>
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <p class="text-center"></p>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <p class="text-center"></p>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-md-6 order-first col-sm-12 p-0">
            <img src="Slike/login_background.jpg" class="img-fluid p-0" alt="">
        </div>
    </div>
</div>

